</div>

<div class="col">
    <figure class="figure img-round">
        <img style="width: 100%;" class="figure-img img-fluid rounded" alt="i am busy"
             src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1515044117593&di=232fc98bad8b56c73e35dd247d467161&imgtype=0&src=http%3A%2F%2Fpic27.photophoto.cn%2F20130601%2F0006019050921693_b.jpg">
        <figcaption class="figure-caption">我是一个拉风的人.</figcaption>
    </figure>
    {include file="_cfxfd/_hot"}
</div>

</div>
