</div>

<div class="col">
    <div class="card mt-1">
        <img class="card-img-top" src="{$option.image}">
        <div class="card-body">
            <a href="#">Go somewhere</a>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h3 class="card-title">热点文章</h3>
            <ul class="list-unstyled ml-3">
                {volist name="hots" id="hot"}
                <li><a href="/blog/index/article?id={$hot.id}">{$hot.title}</a></li>
                {/volist}
            </ul>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h3 class="card-title">热门标签</h3>
            <p>暂无</p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h3 class="card-title">最新评论</h3>
            <p>暂无</p>
        </div>
    </div>

</div>
