{extend name="_cfxfd/layout"}

{block name="body"}
<p>搜索的关键词是: <span class="text-success">{$Request.get.keyword}</span></p>
<div>
    {volist name="articles" id="v"}
    <div class="card mt-5">
        <div class="card-body">
            <h5 class="card-title">{$v.title}<small>    作者:{$v.author}</small></h5>
            <p class="card-text">{$v.digest}</p>
            <a href="/blog/index/article/id/{$v.id}" class="text-right card-link">点击阅读</a>
        </div>
    </div>
    {/volist}

    <div class="mt-5">
        {$articles->render()}
    </div>
</div>
{/block}